html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     
    font-size: 10px;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    background: linear-gradient(
        115deg,       
        rgba(62, 9, 161, 0.4),
        rgba(207,248,255, 0.7)
        );
}

#hw-header {
    width: 100%;
    position: relative;
    top: 0px;
    background-color: rgb(62, 9, 161);
    padding: 20px 0;
}

h1 {
    color: #fff;
    text-align: center;
}



#homework {
    margin: 50px 10px;
}

.homework-item {
    padding-top: 20px
}

h3 {
    margin: 5px 0;
}