html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/*--------------------------------------------------------------
google fonts
font-family: 'Bangers', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Passion One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Russo One', sans-serif;
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Caveat+Brush&family=Coming+Soon&family=Dancing+Script:wght@700&family=Fredericka+the+Great&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Pacifico&family=Passion+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&family=Raleway:wght@200;400;700&family=Rubik+Moonrocks&family=Rubik:wght@300;400&family=Russo+One&display=swap');

body {
    background-image: linear-gradient(
        115deg,       
        rgba(62, 9, 161, 0.8),
        rgba(128, 29, 119, 0.8)),
        url("IMG_5549.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(207,248,255);
    font-size: 1.2rem;
}

#plans {
    background-image: linear-gradient(
        115deg,       
        rgba(0,0,0,0.9),
        rgba(44, 44, 44, 0.8)),
        url("IMG_5549.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-size: 1.2rem;
}

#hw-header {
    width: 100%;
    position: relative;
    top: 0px;
    background-color: rgba(62, 9, 161, 0.8);
    padding: 20px 0;
}

#plan-header {
    width: 100%;
    position: relative;
    top: 0px;
    background-color: #000;
    padding: 20px 0;
}

h1 {
    color: #fff;
    text-align: center;
}

#plans h1 {
    color: #1DB954;
    text-align: center;
}

#plans h2 {
    color: #1DB954;
}

#homework {
    margin: 50px;
}

.homework-item {
    padding-top: 20px
}

h3 {
    margin: 5px 0;
}

#topic{
    margin: 10px 0;
    font-family: 'Bangers', cursive;
}

a {
    text-decoration: none;
    color: rgb(159, 229, 241);
} 

a:hover {
    color: #fff;
}

#image {
    margin: 50px auto;
}

@media (max-width: 540px) {
    img {
        width: 90%;
    }    
}


.dropbtn {
    background-color: #1DA1F2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #1DA1F2;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}